[project]
	description = HW2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dunchadhn Lyons (dunchadhn)
[access "refs/for/refs/*"]
	read = group user/Dunchadhn Lyons (dunchadhn)
	push = group user/Dunchadhn Lyons (dunchadhn)
	label-Code-Review = -2..+2 group user/Dunchadhn Lyons (dunchadhn)
	label-Verified = -1..+1 group user/Dunchadhn Lyons (dunchadhn)
	rebase = group user/Dunchadhn Lyons (dunchadhn)
	removeReviewer = group user/Dunchadhn Lyons (dunchadhn)
	submit = group user/Dunchadhn Lyons (dunchadhn)
[access "refs/heads/*"]
	read = group user/Dunchadhn Lyons (dunchadhn)
	create = group user/Dunchadhn Lyons (dunchadhn)
	push = +force group user/Dunchadhn Lyons (dunchadhn)
	pushMerge = group user/Dunchadhn Lyons (dunchadhn)
[access "refs/tags/*"]
	push = group user/Dunchadhn Lyons (dunchadhn)
	push = +force group user/Dunchadhn Lyons (dunchadhn)
